html{
    margin: 0;
    height: 100%;
    position: relative;
}

body{
    margin: 0;
    height: 100%;
    background-color: rgb(44, 62, 80  );
    font-family: cursive;
    
}

header{
    display: flex;
    background-color: rgb(27, 38, 49);
    width: 100%;
    height: 70px;
    align-items: center;
}

nav{
    display: flex;
    width: 100%;
    height: 40px;
    text-align: center;
    justify-content: center;

}

nav>ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: center;
    
}

nav>ul>li{
    text-align: center;
    display: inline;
}

nav>ul>li>a{
    font-size:x-large;
    margin: 10px;
    color:rgb(185, 255, 189);
    text-decoration: none;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80%;
    margin-top: 20px;
    margin-bottom: 50px;
}

#sector1{
    color: rgb(116, 255, 123);
    height: max-content;
    text-align: center;
    align-items: center;
}

h1{
    margin: 0;
}

#Copyfooter{
    font-size:x-large;
    text-align: center;
    justify-content: center;
}

footer{
    display: flex;
    color: rgb(185, 255, 189);
    background-color: rgb(27, 38, 49 );
    text-align: center;
    justify-content: center;
    position:relative;
    bottom: 0;
    width: 100%;
    height: 50px;
}